@font-face {
    font-family: '.';
    src: url('c138e80006f5dee86a2b7eb1ae33f451.woff2') format('woff2'),
        url('c138e80006f5dee86a2b7eb1ae33f451.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('69995d16f7e31fd38a14907e34cd5119.woff2') format('woff2'),
        url('69995d16f7e31fd38a14907e34cd5119.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('c47b7929d3afbe2d500d6ba5050c8dc6.woff2') format('woff2'),
        url('c47b7929d3afbe2d500d6ba5050c8dc6.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('4e24495e063be2e4874c4150ec6b5a99.woff2') format('woff2'),
        url('4e24495e063be2e4874c4150ec6b5a99.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('99b7613419094e589b55bca808c17aaf.woff2') format('woff2'),
        url('99b7613419094e589b55bca808c17aaf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('6f8549973564affc62c5b5ebf0d05b3e.woff2') format('woff2'),
        url('6f8549973564affc62c5b5ebf0d05b3e.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

